<!DOCTYPE html>
<html lang="fr">
   {{template "InitPage" .}}
<body>
    <!-- Header -->
   {{template "AdminHeader" .}}

    <div class="main-container">
       {{template "AdminSidebar" .}}

        <!-- Content Area -->
        <div class="content-area">
           

        <!--statistics table-->
        <div class="table-container">
            <div class="table-title">Statistiques</div>
            <div class="admin-stats">
                <div>Nombre total d'utilisateurs : <b>{{.Stats.TotalUsers}}</b></div>
                <div>Dernier utilisateur enregistré : <b>{{.Stats.LastUser}}</b></div>
                <div>Nombre de sujets ouverts :  <b>{{.Stats.TotalTopics}}</b></div>
                <div>Messages postés au cours du dernier mois :  <b>{{.Stats.LastMonthPost}}</b></div>  
            </div>       
        </div>

            <!-- Recent Posts Table -->
            <div class="table-container four-col">
                <div class="table-title">Messages postés dans les 30 derniers jours</div>
                <div class="admin-list"><table>
                    <thead>
                        <tr>
                            <th>Aperçu</th>
                            <th>Sujet</th>
                            <th>Auteur</th>
                            <th>Interactions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .PostList}}
                        <tr>
                            <td> <div>{{preview .Content 200}} </div></td>
                            <td>{{preview .TopicName 20}}</td>
                            <td> {{ .Author.Username}} </td>
                            <td> 👍 {{.Likes}} / 👎 {{.Dislikes}} </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                </div>
            </div>

            <!-- Forum Categories Table -->
            <div class="table-container three-col">
                <div class="table-title">Liste des catégories</div>
               <div class="admin-list"> <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Sujets</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Categories }}<tr>
                            <td> <a href="/categorie/{{.ID}}" target="_blank" title="Ouvrir la catégorie">{{.Name}}</a></td>
                            <td> <div>{{preview .Description 200}}</pre> </td>
                            <td> <div class="admin-topic"> {{range .Topics}} <a href="/topic/{{.TopicID}}" target="_blank" title="Ouvrir le sujet">• {{.Name}} </a><br/> 
                        {{else}}
                                Cette catégorie ne contient aucun sujet.
                                {{end}} </div> </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table></div>
            </div>
        </div>
    </div>

  
    
</body>
</html>