{{define "AdminSidebar"}}
 <!-- Sidebar -->
        <div class="sidebar">
            <a href="/admin" class="simple-link">Gérer le forum</a>
            
            <!-- Menu déroulant Gestion des posts -->
            <details class="topiclist">
                <summary>Gestion des sujets</summary>
                <div class="admin-list menu-item"> Nombre total de sujets : {{.Stats.TotalTopics}}</div>
                <div class="admin-list menu-item"> Dernier sujet ouvert : {{.Stats.LastTopic}}</div>
                <a href="topiclist" class="menu-item topiclist">Gérer les sujets</a>
                <span class="menu-item is-hidden" title="Page actuelle"> Gérer les sujets</span>
            </details>
            
            <!-- Menu déroulant Gestion des catégories -->
            <details class="catlist">
                <summary>Gestion des categories</summary>

                <div class="admin-list menu-item"> Nombre total de catégories : {{.Stats.TotalCats}}</div>
                    <div class="admin-list menu-item"> Dernière catégorie créée : {{.Stats.LastCat}}
                    </div>
                <a href="catlist" class="menu-item admin-cat">> Gérer les catégorie</a>

                <span class="menu-item is-hidden" title="Page actuelle">Gérer les catégories</span>
            </details>
            
            <!-- Menu déroulant Gestion des users -->
            <details class="userlist">
                <summary>Gestion des utilisateurs</summary>
                <div class="admin-list menu-item">Nombre total d'utilisateurs : {{.Stats.TotalUsers}}</div>
                      <div class="admin-list menu-item">Dernier utilisateur enregistré : {{.Stats.LastUser}}
                    </div>
                <a href="userlist" class="menu-item">> Gérer les utilisateurs</a>
                 <span class="menu-item is-hidden" title="Page actuelle">Gérer les utilisateurs</span>
                
            </details>
            
            <!-- Lien simple -->
            <p class="simple-link">Paramètres</p>
        </div>


{{end}}