{{define "AdminHeader"}}
 <!-- Header -->
    <header class="header">
      <a href="/" class="logo-section">
        <img class="logo" src="/static/logo.png"/>
        <div class="title">Panneau d'aministration - Petites Victoires</div></a>
      </div>
      <nav class="nav-section">
       {{if .CurrentUser.LogStatus}} <a href="/profil" class="nav-link">Profil</a>{{end}}
        
      <button class="login-btn" style="cursor: initial;">
          Connecté en tant que {{.CurrentUser.Username}}
        </button>
      </nav>

      <style>
     .main-container {
            display: flex;
            flex: 1;
            gap: 20px;
            padding: 20px;
        }        
        
        .content-area {
        margin-top:25px
        }
</style>
    </header>
    
{{end}}