<!DOCTYPE html>
<html lang="fr">
   {{template "InitPage" .}}
<body>
    <!-- Header -->
   {{template "AdminHeader" .}}

    <div class="main-container">
        <!-- Sidebar -->
       {{template "AdminSidebar" .}}

        <!-- Content Area -->
        <div class="content-area">
            <!-- Dashboard Header -->
            <div class="dashboard-header">
                <h1>Gérer les utilisateurs ({{.Stats.TotalUsers}})</h1>
            </div>

<!-- <input type="text" class="search-box" placeholder="search"> -->

<div class="table-container three-col">
                <table>
                    <thead>
                        <tr>
                            <th>Nom d'utilisateur</th>
                            <th>Statut</th>
                            <th>Actions</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Users}}
                        <tr>
                            <form method="POST">
                                <input type="hidden" name="userID" value="{{.ID}}">
                                <input type="hidden" name="previous" value="{{.Username}}">
                                <input type="hidden" name="current" value="{{.Status}}">
                            <td><span class="userfield"> {{.Username}} </span><input type="text" name="username" value="{{.Username}}" class="is-hidden user-edit admin-input"></td>
                            <td> 
                               <span class="userfield">{{.Status}} </span>
                               
                               <select name="status" class="is-hidden user-edit admin-input">
                                {{if (ne .Status "Banni")}}
                                    <option value="Membre" {{if (eq .Status "Membre")}} selected{{end}}>Membre</option>
                                    <option value="Modérateur" {{if (eq .Status "Modérateur")}} selected{{end}}>Modérateur</option>
                                    <option value="Admin" {{if (eq .Status "Admin")}} selected{{end}}>Admin</option>
                                    {{else}}
                                    <option value="Banni" {{if (eq .Status "Banni")}} selected{{end}}>Banni</option>
                                    {{end}}
                                </select>
                               
                                <center>
                        <button type="submit" name="action" value="edit" title="Valider les modifications" class="validate-btn is-hidden admin-btn">✅ Valider</button>
                        <button type="button" title="Annuler les modifications" class="cancel-btn is-hidden admin-btn">✖️ Annuler</button>
                    </center></td>
                            </form>
                            <td class="actions-column">
                        {{if not (eq $.CurrentUser.ID .ID)}}<div class="menu">
                            <div class="menu-options">
                                <a title="Modifier l'utilisateur" class="modifier-btn admin-btn">🔧 Modifier</a>
                            <form method="POST">
                                <input type="hidden" name="userID" value="{{.ID}}">
                                {{if (eq .Status "Banni")}}
                                <button title="Débannir l'utilisateur" class="admin-btn" type="submit" name="action" value="unban">⚖️ Débannir</button>
                                {{else}}
                                <button title="Bannir l'utilisateur" class="admin-btn" type="submit" name="action" value="ban">⚖️ Bannir</button>
                                {{end}}
                                <button title="Supprimer l'utilisateur" type="button" class="delete-btn admin-btn" name="action" value="delete">🚫 Supprimer</button>
                            </form>
                
                            </div>
                        </div>
                        {{end}}
                    </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            
            <!-- Gestion du css spécifique de la sidebar -->
            <style>
                .userlist span {
                    display:block;
                }

                .userlist a {
                    display:none;
                }
                
                .userlist summary{
                    color:var(--color-highlight);
                }
            </style>

        <!-- Modal de confirmation pour la suppression -->
            <div id="confirmationModal" class="modal modal-confirm is-hidden">
                <div class="modal-content">
                    <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ? Cette action est irréversible.</p>
                    <div class="modal-buttons">
                        <button id="cancelDelete" class="modal-cancel-btn respond-btn">Annuler</button>
                        <button id="confirmDelete" class="modal-confirm-btn respond-btn">Confirmer</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>