<!DOCTYPE html>
<html lang="fr">
   {{template "InitPage" .}}
<body>
    <!-- Header -->
   {{template "AdminHeader" .}}

    <div class="main-container">
        <!-- Sidebar -->
       {{template "AdminSidebar" .}}

        <!-- Content Area -->
        <div class="content-area">
            <!-- Dashboard Header -->
            <div class="dashboard-header">
                <h1>Gestion des sujets</h1>
            </div>

<input type="text" class="search-box" placeholder="search">

<div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Titre du sujet</th>
                            <th>Ouvert par</th>
                            <th>Catégorie</th>
                            <th>Actions</th>
                          
                        </tr>
                    </thead>
                    <tbody>
            {{range $topic := .Topics}}
                <tr>
                    <form method="POST">
                    <td>
                        <span class="userfield">{{$topic.Name}} ({{len $topic.Messages}} {{if ne (len $topic.Messages) 1}}messages{{else}}message{{end}})</span>
                        <input type="hidden" name="topicID" value="{{$topic.TopicID}}">
                        <input type="text" name="topicname" value="{{$topic.Name}}" class="is-hidden user-edit">
                    </td>
                    <td>{{(index $topic.Messages 0).Author.Username}}</td>
                    <td>
                        <span class="userfield">{{$topic.CatName}}</span>
                        <select name="catID" class="is-hidden user-edit">
                        {{range $.Categories}}
                         <option value="{{.ID}}" {{if eq .Name $topic.CatName}}selected{{end}}>{{.Name}}</option>
                        {{end}}
                        </select>
                          <button type="submit" title="Valider les modifications" class="validate-btn is-hidden">✅ Valider</button>
                   
                    </td>
                     </form>
                    <td class="actions-column">
                        <div class="menu">
                            <div class="menu-options">
                               <a title="Modifier le sujet" class="modifier-btn">🔧 Modifier</a>
                               <form method="POST" class="delete-form">
                                        <input type="hidden" name="topicToDelete" value="{{$topic.TopicID}}">
                                        <button title="Supprimer le sujet" 
                                        type="button" class="delete-btn" 
                                        data-topic-count="{{len $topic.Messages}}">🚫 Supprimer</button>
                                </form>
                               </div>
                        </div>
                    </td>
                </tr>
            {{end}}
                    </tbody>
                </table>
            </div>

               <!-- Gestion du css spécifique de la sidebar -->
            <style>
                .topiclist span {
                    display:block;
                }

                .topiclist a {
                    display:none;
                }
                
                .topiclist summary{
                    color:var(--color-highlight);
                }
            </style>


            <!-- Modal de confirmation pour la suppression -->
            <div id="confirmationModal" class="modal is-hidden">
                <div class="modal-content">
                    <p>Êtes-vous sûr de vouloir supprimer ce sujet ? Cela entrainera la suppression de <span id="topicCountSpan"></span> messages.
                        Cette action est irréversible.
                    </p>
                    <div class="modal-buttons">
                        <button id="cancelDelete" class="modal-cancel-btn">Annuler</button>
                        <button id="confirmDelete" class="modal-confirm-btn">Confirmer</button>
                    </div>
                </div>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', () => {
        // Select all delete buttons
            const deleteButtons = document.querySelectorAll('.delete-btn');

        // Add a click event listener to each button
            deleteButtons.forEach(button => {
            button.addEventListener('click', (event) => {
            const topicCount = event.target.dataset.topicCount;

            if (topicCountSpan) {
                topicCountSpan.textContent = topicCount;
            }

        });
    });
});
            </script>

</body>
</html>