<!DOCTYPE html>
<html lang="fr">
{{template "InitPage" .}}
<body>
     <!-- Header -->
   {{template "AdminHeader" .}}

     <div class="main-container">
        <!-- Sidebar -->
       {{template "AdminSidebar" .}}

        <!-- Content Area -->
        <div class="content-area">
            <!-- Dashboard Header -->
            <div class="dashboard-header">
                <h1>Gérer les catégories ({{.Stats.TotalCats}})</h1>
            </div>

<!-- <input type="text" class="search-box" placeholder="search"> -->

<div class="table-container three-col">
                <table>
                    <thead>
                        <tr>
                            <th>Nom de la catégorie</th>
                            <th>Description</th>
                            <th>Actions</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                    {{ range .Categories}}   
                     <tr>

                         <form method="POST">
                                <input type="hidden" name="catID" value="{{.ID}}">
                            <td><span class="userfield"> {{.Name}} </span>
                                <input type="text" name="name" value="{{.Name}}" class="is-hidden user-edit admin-input"></td>
                            <td> 
                               <span class="userfield">{{.Description}} </span>
                               <textarea name="description" class="is-hidden user-edit admin-input">{{.Description}}</textarea>
                               <center>
                            <button type="submit" title="Valider les modifications" class="validate-btn admin-btn is-hidden">✅ Valider</button>
                            <button type="button" title="Annuler les modifications" class="cancel-btn is-hidden admin-btn">✖️ Annuler</button>
                            </center>
                        </td>
                            </form>

                            <td class="actions-column">
                        <div class="menu">
                            <div class="menu-options">
                               <a title="Modifier la catégorie" class="modifier-btn admin-btn">🔧 Modifier</a>
                               <form method="POST" class="delete-form">
                                        <input type="hidden" name="catToDelete" value="{{.ID}}">
                                        <button title="Supprimer la catégorie" 
                                        type="button" class="delete-btn admin-btn" 
                                        data-topic-count="{{len .Topics}}">🚫 Supprimer</button>
                                </form>
                            </div>
                            
                        </div>
                    </td>
                        </tr>
                        {{end}}
                       <tr><td colspan="3"><div id="show-button" class="dashboard-header admin-add-cat">Ajouter une catégorie</div></td></tr>
                        <tr id="newcat" class="is-hidden">

                         <form method="POST">
                            <td><input type="text" name="newcatname" class="user-edit admin-input" placeholder="Nom de la catégorie" required></td>
                           <td>
                               <textarea name="newcatdesc" class="user-edit admin-input" placeholder="Description de la catégorie"></textarea></td>
                            <td>
                                <center>
                                <button type="submit" class="admin-btn" title="Ajouter la nouvelle catégorie" id="add-button">✅ Ajouter</button>
                            <button type="button" title="Annuler les modifications" class="admin-btn" id="cancel-button">✖️ Annuler</button>
                            </center>
                            </td>
                            </form>
                        </tr>
                      
                    </tbody>
                </table>
            </div>


            <style>
                .catlist span {
                    display:block;
                }

                .catlist a {
                    display:none;
                }
                
                .catlist summary{
                    color:var(--color-highlight);
                }
            </style>

            <!-- Modal de confirmation pour la suppression -->
            <div id="confirmationModal" class="modal modal-confirm is-hidden">
                <div class="modal-content">
                    <p>Êtes-vous sûr de vouloir supprimer cette catégorie ? Cela entrainera la suppression de <span id="topicCountSpan"></span> sujets.
                        Cette action est irréversible.
                    </p>
                    <div class="modal-buttons">
                        <button id="cancelDelete" class="modal-cancel-btn respond-btn">Annuler</button>
                        <button id="confirmDelete" class="modal-confirm-btn respond-btn">Confirmer</button>
                    </div>
                </div>
            </div>

             <script>
                document.addEventListener('DOMContentLoaded', () => {
        // Select all delete buttons
            const deleteButtons = document.querySelectorAll('.delete-btn');

        // Add a click event listener to each button
            deleteButtons.forEach(button => {
            button.addEventListener('click', (event) => {
            const topicCount = event.target.dataset.topicCount;

            if (topicCountSpan) {
                topicCountSpan.textContent = topicCount;
            }

        });
    });
});

document.addEventListener('DOMContentLoaded', () => {
        // Get the necessary elements
        const showButton = document.getElementById('show-button');
        const newCatRow = document.getElementById('newcat');
        const addButton = document.getElementById('add-button');
        const cancelButton = document.getElementById('cancel-button');

        // Function to show the new category row
        showButton.addEventListener('click', () => {
            newCatRow.classList.remove('is-hidden');
        });

        // Function to hide the new category row when 'Ajouter' is clicked
        addButton.addEventListener('click', (event) => {
            newCatRow.classList.add('is-hidden');
        });

        cancelButton.addEventListener('click', (event) => {
            newCatRow.classList.add('is-hidden');
        });
    });
            </script>
</body>
</html>