<!DOCTYPE html>
<<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 404</title>
    <link rel="stylesheet" href="./forum.css">
</head>
<body>
    <header class="header">
        <div class="logo-section">
            <div class="logo"></div>
            <div class="title">TITLE</div>
        </div>
        <nav class="nav-section">
            <a href="./home.html" class="nav-link">Retour</a>
        </nav>
    </header>

    <main class="main-content">
<div class="box">
        <h1 class="big">400</h1>
        <h2>Bad Request.</h2><br>
        <p>  L'action que vous avez tenté d'effectuer n'est pas prise en charge.</p><br>
        
        <hr>
        
        <p><strong>Code d'erreur :</strong> 400 - Not Found</p><br>
        <p><em>Si le problème persiste, contactez l'administrateur du site.</em></p>

    </div>
</body>
</html>