<!DOCTYPE html>
<html lang="fr">
  <head><!-- Informations page (css, sript, etc) -->
    {{template "InitPage"}}
    <title>Forum - {{.Category.Name}}</title>
  </head>
  <body>
    <!-- Header -->
   {{template "ForumHeader" .}}

    <!-- Main Content -->
    <main class="main-content">
      <!-- Sidebar -->
      <aside class="sidebar">
        <h3>New Posts</h3>
        <a href="#" class="sidebar-item">&gt; sujet</a>
        <a href="#" class="sidebar-item">&gt; sujet</a>
        <a href="#" class="sidebar-item">&gt; sujet</a>
      </aside>

      <!-- Posts Section -->
      <section class="posts-section">
        <h2>{{ .Category.Name }}</h2>
        {{ range .Category.Topics }}
        <div class="post-card">
          <div class="post-avatar"><img src="{{.Author.ProfilPic}}"/></div>
          <div class="post-content">
            <div class="post-title">{{.Name}}</div>
            <div class="post-text">
              {{preview (index .Messages 0).Content 300}}
            </div>
            <div class="post-author">{{(index .Messages 0).Author.Username}}</div>
          </div>
          <a class="post-button" href="t{{.TopicID}}">Ouvrir</a>
        </div>
        {{end}}
      </section>
    </main>
  </body>
</html>
