<!DOCTYPE html>
<html lang="fr">
  {{template "InitPage" .}}
  <body>
    <!-- Header -->
    {{template "ForumHeader" .}}

    <!-- Main Content -->
    <div class="dashboard-header">
      <div class="topic-top">
        <h2>{{ .Category.Name }}</h2>
        {{if .CurrentUser.LogStatus}}
        <form action="/new-topic" method="GET">
          <input type="hidden" name="category_id" value="{{.Category.ID}}" />
          <button type="submit" class="respond-btn">
            Ouvrir un nouveau sujet
          </button>
        </form>
        {{end}}
      </div>
    </div>
    <main class="main-content">
      <!-- Sidebar -->
      <aside class="sidebar">
        <h3>{{ .Category.Name }}</h3>
        <div>{{.Category.Description}}</div>
      </aside>

      <!-- Posts Section -->
      <section class="posts-section">
        {{ range .Category.Topics }}
        <div class="post-card">
          {{ if gt (len .Messages) 0 }}
          <img
            class="post-avatar"
            src="{{(index .Messages 0).Author.ProfilPic}}"
          />
          <div class="post-content">
            <a class="post-title" href="/topic/{{.TopicID}}">{{.Name}}</a>
            <div class="post-author">
              Dernier message par {{(index .Messages
              .LastPost).Author.Username}}
            </div>
            <a
              class="post-text"
              href="/topic/{{.TopicID}}#{{(index .Messages .LastPost).MessageID}}"
            ><img class="post-link" src="/static/ouvrirliens.jpeg" alt="Accéder au message" title="Accéder au message"/>
{{preview (index .Messages .LastPost).Content 300}}
            </a>
          </div>
          {{ else }}
          <div class="post-content">
            <a class="post-title" href="/topic/{{.TopicID}}">{{.Name}}</a>
            <div class="post-text">Aucun message pour l’instant.</div>
          </div>
          {{ end }}
        </div>
        {{else}}
        <div class="post-card">
          <div class="post-content">
            <div class="post-text">
              Cette catégorie ne contient pour l'instant aucun sujet.
            </div>
          </div>
        </div>
        {{end}}
      </section>
    </main>
  </body>
</html>
