<!DOCTYPE html>
<html lang="fr">
 {{template "InitPage" .}}
  <body>
      
    <!-- Header -->
   {{template "ForumHeader" .}}

  <!-- Main Content -->
   <div class="dashboard-header">
      <div class="topic-top">
        <h2>Ouvrir un nouveau sujet</h2>
      </div>
    </div>


    <main class="main-content">
     <!-- Sidebar -->
       <aside class="sidebar">
        <div>
          Ouvrir un sujet dans :  <strong>{{.Category.Name}}</strong><br /><br />
          {{.Category.Description}}<br />
          <a href="/categorie/{{.Category.ID}}" target="blank">➤ Voir la catégorie
          </a>
        </div>
      </aside>
   <section class="posts-section"><form class="create-topic-form" method="POST">
  <input type="hidden" name="Category_id" value="{{.Category.ID}}"/>
  <input 
  maxlength="100" 
  type="text" 
  class="input-name-topic" 
  name="title" 
  placeholder="Titre du sujet" 
  required/>

 <textarea 
 maxlength="6000" 
 class="input-description-topic" 
 name="message" 
 placeholder="Entrer votre message" 
 required></textarea>
 
  <div class="create-topic-form-button">
    <button type="submit" class="respond-btn" style="margin-left: initial;"> Envoyer</button></div>
</form>
</section>
   
    </main>
  </body>
</html>
</html>
