<!DOCTYPE html>
<html lang="fr">
    {{template "InitPage" .}}
<body>
    <!-- Header -->
    {{template "ForumHeader"}}

    <main class="main-content">
<div class="box">
        <h1 class="big">{{.Code}}</h1>
        <h2>{{.ErrorName}}</h2><br>
        <p>{{.Message}}</p><br>
        
        <hr>
        
        <p><strong>Code d'erreur :</strong> {{.PageName}}</p><br>
        <p><em>Si le problème persiste, contactez l'administrateur du site.</em></p>

    </div>
</body>
