{{define "ForumHeader"}}
 <!-- Header -->
    <header class="header">
      <a href="/" class="logo-section">
        <div class="logo"></div>
        <div class="title">Forum</div>
      </div>
      <nav class="nav-section">
       {{if .CurrentUser.LogStatus}} <a href="/profil" class="nav-link">Profil</a>{{end}}
        <li class="dropdown">
          <a href="#">Catégories</a>
          <ul class="dropdown-menu">
           {{ range .Categories }}
            <li><a href="/categorie/{{.ID}}">{{.Name}}</a></li>
          {{ end }}
          </ul>
        </li>
        <input type="text" class="search-box" placeholder="search" />
        {{if .CurrentUser.LogStatus}} <button class="login-btn">
          Connecté en tant que {{.CurrentUser.Username}}
        </button>
        {{else}}
        <button class="login-btn" onclick="openLoginModal()">
          Connexion/Inscription
        </button>
        {{end}}
      </nav>
    </header>

     <!-- Modal de connexion -->
    <div id="loginModal" class="modal">
      {{template "loginModal" .LoginData.Message}}
    </div>

      {{if .LoginData.ShowLogin}}
    <script>
       document.getElementById("loginModal").style.display = "block";
    </script>
       {{end}}
{{end}}