{{define "ForumHeader"}}
 <!-- Header -->
    <header class="header">
      <a href="/" class="logo-section">
        <div class="logo"></div>
        <div class="title">Forum</div>
      </div>
      <nav class="nav-section">
        <a href="profil" class="nav-link">Profil</a>
        <a href="categorie" class="nav-link">Catégories</a>
        <input type="text" class="search-box" placeholder="search" />
        <button class="login-btn" onclick="openLoginModal()">
          Connexion/Inscription
        </button>
      </nav>
    </header>

     <!-- Modal de connexion -->
    <div id="loginModal" class="modal">
      {{template "loginModal" .LoginData.Message}}
    </div>

    <script>
      {{if .LoginData.ShowLogin}}
       document.getElementById("loginModal").style.display = "block";
       {{end}}
    </script>
{{end}}