<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum - Accueil</title>
    <link rel="stylesheet" href="static/style.css" />
    <script src="static/script.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="logo-section">
        <div class="logo"></div>
        <div class="title">Forum</div>
      </div>
      <nav class="nav-section">
        <a href="profil" class="nav-link">Profil</a>
        <a href="categorie.html" class="nav-link">Catégories</a>
        <input type="text" class="search-box" placeholder="search" />
        <button class="login-btn" onclick="openLoginModal()">
          login/register
        </button>
      </nav>
    </header>

    <!-- Main Content -->
    <main class="main-content">
      <!-- Posts Section -->
      <section class="posts-section">
        <h2>Derniers messages</h2>

        {{range .Posts}}
        <div class="post-card">
          <div class="post-avatar"></div>
          <div class="post-content">
            <div class="post-title">{{.TopicName}}</div>
            <div class="post-text">{{preview .Content 300}}</div>
          </div>
          <a class="post-button" href="t{{.TopicID}}#{{.MessageID}}">Lire</a>
        </div>
        {{else}}
        <div class="post-card">
          <div class="post-content">
            <div class="post-text">
              <center>Il n'y a aucun message à afficher pour l'instant.</center>
            </div>
          </div>
        </div>
        {{end}}
      </section>
    </main>
    <!-- Modal de connexion -->
    <div id="loginModal" class="modal">
      {{template "loginModal" .LoginData.Message}}
    </div>

    <script>
      {{if .LoginData.ShowLogin}}
       document.getElementById("loginModal").style.display = "block";
       {{end}}
    </script>
  </body>
</html>
