<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
    {{template "InitPage" .}}
  <body>
     <!-- Header -->
     {{template "ForumHeader" .}}    
         
    
       <div class="dashboard-header">           
         <div class="topic-top"> <h2>Derniers messages</h2> </div>
    </div></div>
    <!-- Main Content -->
     <main class="main-content">
 <!-- Sidebar -->
      <aside class="sidebar"><h3>Qui nous sommes </h3>
        <div class="cat-desc forum-desc">Le forum Petites Victoires est une communauté zen pour discuter de sa vie personnelle et se concentrer sur l'essentiel : améliorer son quotidien, un jour à la fois.

Que vous soyez à la recherche d'un conseil qui change la donne, d'un soutien bienveillant, ou simplement d'un espace pour partager vos réussites, même les plus modestes, vous êtes au bon endroit. Ensemble, transformons ces petits succès en grandes victoires !</div>
      </aside>

      <!-- Posts Section -->
      <section class="posts-section">
        

        {{range .Posts}}
        <div class="post-card">
          <img class="post-avatar" src="{{.Author.ProfilPic}}"/>
          <div class="post-content">
            <div class="post-title">{{.Author.Username}} a posté dans <a href="topic/{{.TopicID}}">{{.TopicName}}</a></div>
            <a class="post-text" 
            href="topic/{{.TopicID}}#{{.MessageID}}"
            > <img class="post-link" src="/static/images/ouvrirliens.jpeg" alt="Accéder au message" title="Accéder au message"/>{{preview .Content 300}}
            </a>            
          </div>
        </div>
        {{else}}
        <div class="post-card">
          <div class="post-content">
            <div class="post-text">
              <center>Il n'y a aucun message à afficher pour l'instant.</center>
            </div>
          </div>
        </div>
        {{end}}
      </section>
    </main>

    <style>.header {border-bottom: initial;}</style>
   
  </body>
</html>
