{{define "loginModal"}}
<div class="modal-content">
  <button class="close-btn" onclick="closeLoginModal()">&times;</button>
  <div class="modal-header">
    <h2 class="modal-title">Connexion</h2>
    <p class="modal-subtitle">Accédez à votre compte</p>
  </div>
  <form id="loginForm" method="post" action="/login">
    <div class="form-group">
      <label class="form-label" for="Username">Identifiant</label>
      <input
        name="username"
        type="text"
        id="username"
        class="form-input"
        placeholder="nom d'utilisateur"
        required
      />
    </div>

    <div class="form-group">
      <label class="form-label" for="loginPassword">Mot de passe</label>
      <input
        name="password"
        type="password"
        id="loginPassword"
        class="form-input"
        placeholder="••••••••"
        required
        minlength="6"
      />
      <input
        type="checkbox"
        onclick="this.previousElementSibling.type = this.previousElementSibling.type === 'password' ? 'text' : 'password'"
      />
      <span class="show-password-text">Afficher le mot de passe</span>
    </div>
    {{if .}}
    <div class="incorrect">{{.}}</div>
    {{end}} <br />

    <div id="connect-normal">
    <button type="submit" class="form-button">Se connecter</button>
  </form>

   <div class="form-divider">
    <span>Ou</span>
  </div>
  </div>

   <a onclick="ConnectExternal()">
    <button type="button"  class="form-button" id="connect-plus">Lier un compte externe</button>
    </a>
<br><br>
    <div id="external-connect" class="is-hidden">
  <a href="/auth/google/login">
    <button type="button"  class="form-button"><img src="/static/images/google.png" alt="Connexion avec Google"> 
     S'identifier avec Google</button>
    </a>
<br><br>
    <a href="/auth/github/login">
    <button type="button"  class="form-button"><img src="/static/images/github.png" alt="Connexion avec Github"> 
     S'identifier avec Github</button>
    </a>    
<br><br>
    <a href="/auth/discord/login">
    <button type="button"  class="form-button"><img src="/static/images/discord.png" alt="Connexion avec Discord"> 
     S'identifier avec Discord</button>
    </a>
    </div>

  <div class="form-divider" id="no-account">
    <span>Pas encore de compte ?</span>
  </div>

  

  <a href="/registration" id="register">
    <button class="secondary-button" type="button">S'inscrire</button>
  </a>
</div>

<script>

function ConnectExternal() {
  const normal = document.getElementById("connect-normal")
  const button = document.getElementById("connect-plus")
  const connectBtns = document.getElementById("external-connect")
  const register = document.getElementById("register")
  const noAccount = document.getElementById("no-account")

  if (connectBtns.classList.contains("is-hidden")) {   
    connectBtns.classList.remove("is-hidden")
    register.classList.add("is-hidden")
    noAccount.classList.add("is-hidden")
    normal.classList.add("is-hidden")
    button.classList.add("secondary-button")
    button.innerHTML = "Retour"
  } else {
    connectBtns.classList.add("is-hidden")
    register.classList.remove("is-hidden")
    noAccount.classList.remove("is-hidden")
    normal.classList.remove("is-hidden")
    button.classList.remove("secondary-button")
    button.innerHTML = "Lier un compte externe"
  }


}
  
  </script>
{{end}}
