<!DOCTYPE html>
<html lang="fr">
  <head><!-- Informations page (css, sript, etc) -->
    {{template "InitPage"}}
    <title>Profil - {{.Username}}</title>
  </head>
  <body>
    <!-- Header -->
    {{template "ForumHeader" .}}

    <!-- Main Content -->
    <main class="main-content">
      <!-- Sidebar -->
      <aside class="sidebar">
        <h3>profil</h3>
        <div class="post-avatar">{{.ProfilPic}}</div>
        <p>{{.Username}}</p>
        <p>{{.Email}}</p>
      </aside>
      <section class="posts-section">
        <div class="post-card">
          <div class="post-avatar">{{.ProfilPic}}</div>
          <div class="post-content">
            {{range .Posts}}
            <div class="post-title">{{.TopicName}}</div>
            <div class="post-text">
              {{.Content}}
            </div>
          </div>
          <button class="post-button" href="topic/{{.TopicID}}#{{.MessageID}}">ouvrir</button>
          {{end}}
        </div>
      </section>
    </main>
  </body>
</html>
