<!DOCTYPE html>
<html lang="fr">
    {{template "InitPage" .}}
  <body>
    <!-- Header -->
    {{template "ForumHeader" .}}

    <!-- Main Content -->
    <main class="main-content">
      <!-- Sidebar -->
      <aside class="sidebar">
        <h3>Profil</h3>
        <div class="post-avatar" src="{{.User.ProfilPic}}"></div>
        <p>{{.User.Username}}</p>
        <p>{{.User.Email}}</p>
      </aside>
      <section class="posts-section">
        {{range .Posts}}
        <div class="post-card">
          <div class="post-avatar" src="{{.Author.ProfilPic}}"></div>
          <div class="post-content">
            <div class="post-title">{{.TopicName}}</div>
            <div class="post-text">
              {{.Content}}
            </div>
          </div>
          <button class="post-button" href="topic/{{.TopicID}}#{{.MessageID}}">ouvrir</button>
        </div>
        {{else}}
        <div class="post-card">
          <div class="post-content">
            <div class="post-text">
              <center>Il n'y a aucun message à afficher pour l'instant.</center>
            </div>
          </div>
        </div>
        {{end}}
      </section>
      
    </main>
  </body>
</html>
