<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Informations page (css, sript, etc) -->
    {{template "InitPage" .}}
    <title>Inscription</title>
</head>
<body>
    <!-- Header -->
    {{template "ForumHeader" .}}

    <main class="main-content">
        <section class="posts-section registerbox">
                <h2 class="modal-title">S'inscrire sur le forum</h2>
                <p class="modal-subtitle">Créez votre compte gratuitement</p><br>

               <form id="registerForm" method="POST">
    <div class="form-group">
        <label class="form-label-2" for="registerName">Nom d'utilisateur</label>
        <input type="text" {{if .UserInfo.Username}} value="{{.UserInfo.Username}}" {{end}} name="username" id="registerName" class="form-input" placeholder="Votre Nom" required>     
    </div>
    
    <div class="form-group">
        <label class="form-label-2" for="registerEmail">Adresse e-mail</label>
        <input type="email" name="email"  {{if .UserInfo.Email}} value="{{.UserInfo.Email}}" {{end}} id="registerEmail" class="form-input" placeholder="@email.com" required>
    </div>

    <div class="form-group">
        <label class="form-label-2" for="registerPic">Photo de profil (facultatif)</label>
        <input name="userimage"  {{if .UserInfo.ProfilPic}} value="{{.UserInfo.ProfilPic}}" {{end}} type="text" id="registerPic" class="form-input" placeholder="http:// url de l'image">
    </div>
    
    <div class="form-group">
        <label class="form-label-2" for="registerPassword">Mot de passe</label>
        <input type="password" name="password" id="registerPassword" class="form-input" placeholder="••••••••" required minlength="6">
        <input type="checkbox" onclick="this.previousElementSibling.type = this.previousElementSibling.type === 'password' ? 'text' : 'password'"> 
        <span class="show-password-text">Afficher</span>
    </div>
    
    <div class="form-group">
        <label class="form-label-2" for="confirmPassword">Confirmer le mot de passe</label>
        <input type="password" name="confirmpassword" id="confirmPassword" class="form-input" placeholder="••••••••" required minlength="6"> 
        <input type="checkbox" onclick="this.previousElementSibling.type = this.previousElementSibling.type === 'password' ? 'text' : 'password'"> 
        <span class="show-password-text">Afficher</span>
    </div>
    
     <div class="error-message">
        <!-- Mot de passe incorrect -->
         {{if .RegisterData.PassError}}   {{.RegisterData.PassError}}  {{end}} 
        <!-- Nom d'utilisateur incorect -->
         {{if .RegisterData.NameError}}   {{.RegisterData.NameError}}  {{end}}
        <!-- Email incorrect -->
        {{if .RegisterData.EmailError}}   {{.RegisterData.EmailError}} {{end}}
        </div><br>
    <button value="submit" class="form-button">Créer mon compte</button>
</form>
            </div>
        </section>
    </main>
</body>
</html>
